<table id="example" class="table display nowrap table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>STATUS</th>
        <th>ASSET</th>
        <th>FAULT</th>
        <th>ACTIVATION</th>
        <th>DEACTIVATION</th>
        <th>DURATION</th>
        <th>COST ANNUALISED</th>
        <th>ENERGY</th>
        <th>CO2 EMISSION</th>
    </tr>
    </thead>
</table>