<table id="example" class="table display nowrap table-bordered" style="width:100%">
    <thead>
    <tr>
        <th style="width: 94.025px;text-align: center;padding:0.8em">STATUS</th>
        <th style="padding:0.8em">ASSET</th>
        <th style="padding:0.8em">FAULT</th>
        <th style="padding:0.8em">ACTIVATION</th>
        <th style="padding:0.8em">DEACTIVATION</th>
        <th style="padding:0.8em">DURATION</th>
        <th style="padding:0.8em">COST ANNUALISED</th>
        <th style="padding:0.8em">ENERGY</th>
        <th style="padding:0.8em">CO2 EMISSION</th>
    </tr>
    </thead>
</table>