<table id="example" class="table display nowrap table-bordered" style="width:100%">
<!--    <thead>
    <tr>
        <th>Asset Name</th>
        <th>Fault Name</th>
        <th>Status</th>
        <th>Activation Time</th>
        <th>De-activation Time</th>
        <th>Duration</th>
        <th>Cost Annualised</th>
        <th>Ass. kWh</th>
        <th>Ass. kgCO2</th>
    </tr>
    </thead>
    <tbody style="background-color:gray">
    <tr style="background-color:gray">
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>2011/04/25</td>
        <td>$320,800</td>
        <td>Fault Cost Annualised</td>
        <td>Ass. kWh</td>
        <td>Ass. kgCO2</td>
    </tr>
    <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>2011/04/25</td>
        <td>$320,800</td>
        <td>Fault Cost Annualised</td>
        <td>Ass. kWh</td>
        <td>Ass. kgCO2</td>
    </tr>
    <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>2011/04/25</td>
        <td>$320,800</td>
        <td>Fault Cost Annualised</td>
        <td>Ass. kWh</td>
        <td>Ass. kgCO2</td>
    </tr>
    <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>2011/04/25</td>
        <td>$320,800</td>
        <td>Fault Cost Annualised</td>
        <td>Ass. kWh</td>
        <td>Ass. kgCO2</td>
    </tr>    <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>2011/04/25</td>
        <td>$320,800</td>
        <td>Fault Cost Annualised</td>
        <td>Ass. kWh</td>
        <td>Ass. kgCO2</td>
    </tr>    <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>2011/04/25</td>
        <td>$41,800</td>
        <td>Fault Cost Annualised</td>
        <td>Test Data</td>
        <td>Ass. kgCO2</td>
    </tr>
    </tbody>-->
</table>